@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo Professor Daniel!</h1><br><br>
    <h3>Conheça a melhor universidade</h3><br><br>
   
</div>
   <center>
     <a class="btn btn-primary" href="https://seletivo.uninove.br/graduacao-e-curta-duracao/todos/todos/" role="">CADASTRE-SE</a>
     <a class="btn btn-primary" href="https://aluno.uninove.br/seu/CENTRAL/aluno/" role="">SOU ALUNO</a><br><br>
     <h1>Venha para UNINOVE</h1>
   </center>
        
    
    


